@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: -webkit-gradient(linear, left bottom, right top, from(rgb(23, 14, 56)), to(#000000)) fixed;
    color: ghostwhite;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
    height: 100%;
}